#textdomain wesnoth-units
[unit_type]
    id=Spearman Ladder_0_1
    name=_"Spearman" + _" (ladder)"
    [base_unit]
        id=Spearman
    [/base_unit]

    # Note: need to list all attacks for the proper work of base_unit merging
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=7
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=5
        number=1
    [/attack]

    description=_"Ladder variation of the Spearman that has 5-1 ranged attack instead of 6-1.

" + _"Swords are, for many, an expensive luxury, and one which peasants can ill afford. Spears are much easier to make and will do well even without a spearhead, though most can afford one. Clad in leather armor, and often armed with a shield and a few javelins, spearmen are the staple of most armies, often thrown into the front lines with only the most basic training."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
[/unit_type]
